.App {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
}

.card {
  width: 20%;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: table;
  height: auto;
  float: left;
}

.card img {
  width: 100%;
  height: 250px;
}

.text-container {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
}

.text-container h3 {
  font-size: 1rem;
}

.status {
  margin-bottom: 1rem;
}

.title {
  color: grey;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.container {
  display: block;
  max-width: 50rem;
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
}

h1 {
  padding: 2.0rem 0;
  color: black;
  font-size: 2.5rem;
}

.loading {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h3 {
  color: white;
  font-size: 7.5rem;
}

input {
  padding: 3px; 
  margin: 10px;
}

.form{
  display: block;
  max-width: 30rem;
  margin:auto;
}

.movieContainer{
  width: 100%;
  height: auto;
  display: flex;
}

.imageContainer{
  display: grid;
  width: 432px;
  height: 648px;
}

.infoContainer{
  width: auto;
  max-width: 800px;
}

.genreContainer{
  height: 100px;
  width: 100%;
}


.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 10px;
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
 /* top: 3pt;
  Uncomment this to lower the icons as requested in comments*/
  content: '';
 /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

.search-container {
  background-color: transparent;
}

.filter-container {
  background-color: transparent;
  width: 100%;
  max-width: 300px;
  text-align: left;
  margin-left: 10px;
}

.main-container {
  display: flex;
}

fieldset {
  display: grid;
  border: transparent;
  margin-top: 10px;
}

.comments {
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
  background-color: lightgray;
  height: 100%;
}

.comments textarea {
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
  max-width: 90%; 
}

.details {
  height: auto;
}